body {
	overflow-x: hidden;
	overflow-y: scroll;
}

header div > img{
		filter: invert();
}

section:first-of-type p {
	background-color: var(--color-text);
	color: var(--color-text2);
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	font-size: 0.7em;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5em 0;
	width: 100%;
}


main section:nth-of-type(1) {
	position: relative;
	top: -2.8em;
	min-height: 40em;
}


main section:nth-of-type(1) img {
	width: 380px;
	position: relative;
	z-index: 0;
	min-height: 40em;
	object-fit: cover;
	object-position: center;
}
/* 
main section:nth-of-type(1) {
	display: flex;
	justify-content: center;
	align-items: center;
} */

main section:nth-of-type(1) ul {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	gap: 1em;
	list-style: none;
	text-align: center;
	z-index: 1;
}



main section:nth-of-type(1)>ul li {
	backdrop-filter: blur(.2em);
	padding: .8em 1em .8em 1em;
	border: 0.01em solid var(--color-border);
	border-radius: .5em;
}

main section:nth-of-type(1)>ul li a:focus {
	outline: 2px solid red;
	outline-offset: 20px;
}

main section:nth-of-type(1)>ul li:hover {
	border: 0.01em solid var(--color-text2);
	transition: .3s;
}

main section:nth-of-type(1)>ul li a {
	color: var(--color-text2);
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	font-size: .8em;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	text-decoration: none;
	outline: none;
}

/* main section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
} */

main section:nth-of-type(2)>a {
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	font-size: .9em;
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
	color: var(--color-text);
	align-self: flex-end;
}



main section:nth-of-type(2) h2 {
	width: 100%;
	display: flex;
	align-items: center;
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1em;
}

main section:nth-of-type(2) ul:nth-of-type(1) {
	display: grid;
	/* grid-template-columns: repeat(auto-fill, minmax(10em, 1fr)); */
	grid-template-columns: repeat(2, minmax(10em, 1fr));
	gap: 1em;
	list-style: none;
	padding: 1em;
}



main section:nth-of-type(2) ul:nth-of-type(1) li a {
	/* display: flex;
	flex-direction: column; */
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto auto;
	align-items: start;
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
	color: var(--color-text);

}
main section:nth-of-type(2) ul:nth-of-type(1) li a svg {
 width: 1.5em;
 	grid-column: 2 / 3;
	grid-row: 1 / 2;
	align-self: end;
	justify-self: end;
	z-index: 2;
}

main section:nth-of-type(2) ul:nth-of-type(1) li a h3 {
	/* order: 2; */
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	font-size: .7em;
	text-transform: uppercase;
	padding: .2em;
	padding-top: .5em;
}
main section:nth-of-type(2) ul:nth-of-type(1) li a > ul {
  		grid-column: 1 / -1;
	grid-row: 1 / 2;
display:flex;
  overflow:auto;
  scroll-snap-type:x mandatory;
  scroll-behavior:smooth;
  /* zodat je niet per ongeluk 'back' scrollt */
  overscroll-behavior-x:contain;
  
  gap:1em;
  
  /* dunne scrollbar met een kleur */
  scrollbar-width:thin;
  scrollbar-color:#f09 transparent;
}

main section:nth-of-type(2) ul:nth-of-type(1) li a > ul > li {
  scroll-snap-align: start;
  flex: 0 0 100%;
}

main section:nth-of-type(2) ul:nth-of-type(1) li a > ul img {
	/* order: 1; */
	width: 100%;
	display: block;
	/* display: block;  */
	/* moet dit wel */
}

main section:nth-of-type(2) ul:nth-of-type(1) li a p {
	/* order: 3; */
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	font-size: .6em;
	text-transform: uppercase;
	padding: .2em;
}

/* main section:nth-of-type(2) ul:nth-of-type(1) {
	display: grid;
	grid-template-columns: repeat(2, minmax(10em, 1fr));
	gap: 1em;
} */
/* 
main section:nth-of-type(2) ul li:nth-of-type(1) {
	display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr repeat(3, min-content);
} */


main section:nth-of-type(3) {
	position: relative;
}

main section:nth-of-type(3) video {
	width: 60em;
	position: relative;
	z-index: 0;

	object-fit: contain;

}

main section:nth-of-type(3) ul {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	gap: 1em;
	list-style: none;
	text-align: center;
	z-index: 1;
}

main section:nth-of-type(3) ul li {
	padding: .5em;
	list-style: none;
}

main section:nth-of-type(3)>ul li h2 {
	color: var(--color-text2);
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	font-size: .8em;

}

main section:nth-of-type(3)>ul li a {
	color: var(--color-text2);
	font-family: "WebFont", sans-serif;
	font-weight: 400;
	font-size: .8em;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	backdrop-filter: blur(.2em);
	padding: .8em 1em .8em 1em;
	border: 0.01em solid var(--color-border);
	border-radius: .5em;
}

main section:nth-of-type(3)>ul li a:hover {
	border: 0.01em solid var(--color-text2);
	transition: .3s;
}